$delay: 100ms;
$delayStep: 100ms;

.fade {
  &-enter-active,
  &-leave-active {
    & > * {
      @apply transition-all duration-300 transform-gpu;
      transition-property: opacity, transform;
      transition-timing-function: cubic-bezier(0.6, 0.15, 0.35, 0.8);
    }
  }

  &-enter-from,
  &-leave-to {
    & > * {
      opacity: 0;
      transform: translateY(40px);
    }
  }

  &-enter-active {
    & > * {
      &:nth-child(2) {
        transition-delay: $delay;
      }

      &:nth-child(3) {
        transition-delay: $delay + $delayStep;
      }
    }
  }

  &-leave-active {
    & > * {
      &:nth-child(1) {
        transition-delay: $delay + $delayStep;
      }

      &:nth-child(2) {
        transition-delay: $delay;
      }
    }
  }
}
.slide-up {
  &-enter-active,
  &-leave-active {
    @apply transition-all duration-300 transform-gpu;
  }

  &-enter-from {
    transform: translateY(100%);
    opacity: 0;
  }

  &-leave-to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-down {
  &-enter-active,
  &-leave-active {
    @apply transition-all duration-300 transform-gpu;
  }

  &-enter-from {
    transform: translateY(-100%);
  }

  &-leave-to {
    transform: translateY(-100%);
  }
}

.fade-slide {
  &-enter-active,
  &-leave-active {
    @apply transition-all duration-300 transform-gpu;
  }

  &-enter-from {
    transform: translateY(-25px);
    opacity: 0;
  }

  &-leave-to {
    transform: translateY(25px);
    opacity: 0;
  }
}

.fade-slide-up {
  &-enter-active,
  &-leave-active {
    @apply transition-all duration-300 transform-gpu;
  }

  &-enter-from {
    transform: translateY(25px);
    opacity: 0;
  }

  &-leave-to {
    transform: translateY(25px);
    opacity: 0;
  }
}


.fade-slide-down {
  &-enter-active,
  &-leave-active {
    @apply transition-all duration-300 transform-gpu;
  }

  &-enter-from {
    transform: translateY(-25px);
    opacity: 0;
  }

  &-leave-to {
    transform: translateY(-25px);
    opacity: 0;
  }
}

.fade-slide-left {
  &-enter-active,
  &-leave-active {
    @apply transition-all duration-300 transform-gpu;
  }

  &-enter-from {
    transform: translateX(-25px);
    opacity: 0;
  }

  &-leave-to {
    transform: translateX(-25px);
    opacity: 0;
  }
}

.fade-slide-right {
  &-enter-active,
  &-leave-active {
    @apply transition-all duration-300 transform-gpu;
  }

  &-enter-from {
    transform: translateX(25px);
    opacity: 0;
  }

  &-leave-to {
    transform: translateX(25px);
    opacity: 0;
  }
}

/* Error Input  */
.error-input {
  &-enter-active,
  &-leave-active {
    @apply transition-all duration-300 transform-gpu;
  }

  &-enter-from {
    transform: translateY(25px);
    opacity: 0;
  }

  &-leave-to {
    transform: translateY(10px);
    opacity: 0;
  }
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

.sidebar-to-right {
  &-enter-active,
  &-leave-active {
    @apply transition-all duration-300 transform-gpu;
  }

  &-enter-from {
    transform: translateX(-100%);
    opacity: 0;
  }

  &-leave-to {
    transform: translateX(-100%);
    opacity: 0;
  }

  .content {
    transform: translateX(100%);
  }
}


.sidebar-to-left {
  &-enter-active,
  &-leave-active {
    @apply transition-all duration-300 transform-gpu;
  }

  &-enter-from {
    transform: translateX(100%);
    opacity: 0;
  }

  &-leave-to {
    transform: translateX(100%);
    opacity: 0;
  }

  .content {
    transform: translateX(-100%);
  }
}

.slide-to-down {
  &-enter-active,
  &-leave-active {
    @apply transition-all duration-300 transform-gpu;
  }

  &-enter-from {
    transform: translateY(100%);
    opacity: 0;
  }

  &-leave-to {
    transform: translateY(100%);
    opacity: 0;
  }

  .content {
    transform: translateY(-100%);
  }
}

.opacity {
  &-enter-active,
  &-leave-active {
    @apply transition-all duration-150 transform-gpu;
  }

  &-enter-from {
    opacity: 0;
  }

  &-leave-to {
    opacity: 0;
  }
}

.zoom-in {
  &-enter-active,
  &-leave-active {
    @apply transition-all duration-150 transform-gpu;
  }

  &-enter-from,
  &-leave-to {
    @apply opacity-0 transform scale-[0];
  }
}
